<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sq.mobile.sqsdk">


    <application android:label="37手游3.6.1">
        <activity android:name=".TestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

    </application>

</manifest>
